In [1]:
import pandas as pd
from random import sample

In [2]:
a = [1,2,3,4,5,6,7,8,9,10,11,12]
b = ["A","A","A","A","B","B","C","C","C","D","D","D"]

df = pd.DataFrame({"grupo": a, "values": b})

df

    grupo values
0       1      A
1       2      A
2       3      A
3       4      A
4       5      B
5       6      B
6       7      C
7       8      C
8       9      C
9      10      D
10     11      D
11     12      D

#### Primeiramente, vamos fazer uma amostragem estratificada onde cada estrato vai ter o msmo tamanho na amostra final, a menos que a quantidade dentro do estrato seja menor do que a que queremos

In [3]:
def amostra_estratificada_1(df, n, estrato):
    amostra = df.groupby(estrato, group_keys=False).apply(lambda x: x.sample(min(len(x), n)))
    
    return amostra

#### Amostra estratificada com estratos de tamanho 2

In [4]:
amostra_estratificada_1(df, 2, 'grupo')

    grupo values
0       1      A
1       2      A
2       3      A
3       4      A
4       5      B
5       6      B
6       7      C
7       8      C
8       9      C
9      10      D
10     11      D
11     12      D

#### Agora, ao invés de definir o tamanho dos estratos, vamos definir o tamanho da amostra final. Cada estrato vai ter uma amostra proporcional á representação do estrato da população.

In [5]:
def amostra_estratificada2(df, N, estrato):
    tamanho_pop = df.shape[0]
    amostra = df.groupby(estrato, group_keys=False)\
        .apply(lambda x: x.sample(int(N*len(x)/tamanho_pop)))\
        .reset_index(drop=True)\
        .sort_values(by=estrato)
    
    return amostra

#### Amostra estratificada de tamaho 9

In [6]:
amostra_estratificada2(df, 9, 'grupo')

Empty DataFrame
Columns: [grupo, values]
Index: []

#### Aqui, precisaremos primeiro aostrar aleatóriamente os conglomerados para então pegar todas as observações desses conglomerados escolhidos e formar nossa amostra.

In [7]:
def amostra_conglomerado(df, n_conglomerados, conglomerado):
    todos_conglomerados = list(df[conglomerado].unique())
    tamanho_conglomerados = len(todos_conglomerados)
    n = min(n_conglomerados, tamanho_conglomerados)
    conglomerados_sorteados = sample(todos_conglomerados, n)
    
    amostra = df[df[conglomerado].isin(conglomerados_sorteados)]
    return amostra

#### Amostra por conglomerados com tamanho 2 conglomerados

In [8]:
amostra_conglomerado(df, 2, 'grupo')

   grupo values
7      8      C
8      9      C